<Alloy>
	<View layout="vertical" id="loadingBar" height="0" width="120" borderRadius="15" backgroundColor="#2E2E2E" >
		<ActivityIndicator id="activityIndicator" />
		<Label top="5" class="center" text="Loading" color="#ffffff" />
	</View> 
    <ScrollView id="eventSv" class="wfill hfill vert"  contentHeight="Ti.UI.SIZE" contentWidth="Ti.UI.FILL" /> 
</Alloy>